#clockContainer {
  position: relative;
  background: url(clock.png) no-repeat;
  background-size: 100%;
  margin: auto;
  height: 50vh;
  width: 50vh;
}

#hour, #min, #sec{
position: absolute;
border-radius: 10px;
background-color: black;
transform-origin: bottom;
}

#hour{
    height: 25%;
    width: 2%;
    top: 25%;
    left: 49%;
}
#min{
    height: 29%;
    width: 1.5%;
    top: 21.6%;
    left: 49%;
    opacity: 0.8;
}

#sec{
    height: 27%;
    width: 1%;
    top: 23%;
    left: 49.5%;
    background-color: red;
}